* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: top;
}

p {
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
    color: #FAE7DD;  
    opacity: 0.7;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

form textarea {
    height: 200px;
    width: 600px;
    border: 2px solid #083D2B;
    opacity: 0.7;
}

form .button {
    height: 50px;
    width: 100px;
    margin-top: 20px;
    font-weight: 700;
    color: #083D2B;
    background-color: #FAE7DD;
    border: 2px solid #083D2B;
    opacity: 0.7;
    transition: 0.7s;  
}

form .button:hover {
    background-color: #083D2B;
    color: #FAE7DD;
    opacity: 0.7;
}
