<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Secret Talk</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--  Normalize  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <p>Send your secret message</p>

    <form action="#" th:action="@{/}" th:object="${message_content}" method="post">
        <textarea placeholder="Enter your secret message here" th:field="*{message}"></textarea>
        <input class="button" type="submit" value="Wyślij">
    </form>
</body>

</html>